APP_NAME=Gamification Service API
APP_VERSION=1.0.0
DEBUG=false
API_PORT=9004

# PostgreSQL
POSTGRES_HOST=
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Redis
REDIS_URL=

# Gamification rules
POINTS_TO_COINS_RATE=100
